@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Inter-Display/Inter-Display-Medium.woff2') format('woff2');
  font-family: Inter-Display;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Caveat/Caveat-Bold.ttf') format('truetype');
  font-family: Caveat;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Reddit-Sans-Condensed/Reddit-Sans-Condensed-Black.ttf') format('truetype');
  font-family: Reddit-Sans-Condensed;
  font-display: swap;
}

.font-handwritten {
  font-family: Caveat, cursive;
}

.font-heading {
  font-family: Reddit-Sans-Condensed, system-ui;
}
