h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

::selection {
  background-color: oklch(from var(--color-primary) l c h / 30%);
}

body {
  background-color: var(--color-bg);
  font-weight: 300;
  font-size: 1rem;
  font-family: Inter, system-ui;
  overflow-wrap: break-word;
}
