/* set default selection color */
::selection {
  background: Highlight;
  color: HighlightText;
}

/* zoom text */
html {
  font-size: calc(7px + 1vw);
}

/* highlight one line code blocks */
code {
  background: #f5f2f0;
  border-radius: 4px;
  padding: 4px;
}

/* adaptive dark theme */
@media (prefers-color-scheme: dark) {
  html {
    filter: invert(100%);
  }

  body {
    background: #000;
  }

  img {
    filter: invert(0);
  }

  /* make code block background lighter */
  pre[class*='language-'],
  code {
    background: #ddd !important;
  }
}
