@import url(https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css);

/* set default selection color */
::selection {
  background: Highlight;
  color: HighlightText;
}

html {
  scroll-behavior: initial;
}

body {
  font-family: 'Computer Modern Serif', 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
}

/* highlight one line code blocks */
code {
  background: #f5f2f0;
  border-radius: 4px;
  padding: 4px;
}

pre code {
  background: none;
  border-radius: 0;
  padding: 0;
}

/* stretch images */
img,
canvas,
iframe {
  width: 100%;
}

/* remove operator highlight */
.token.operator {
  background: none !important;
}

/* remove duplicated footnotes border */
.footnotes {
  border-top: none;
}

/* add links to headings */
.nuxt-content h2 > a::before,
.nuxt-content h3 > a::before {
  opacity: 0;
  content: '#';
  color: #4dd;
  font-weight: 600;
  font-size: 1.25rem;
  margin-left: -1.5rem;
  padding-right: 0.5rem;
  position: absolute;
}

.nuxt-content h2:hover > a::before,
.nuxt-content h3:hover > a::before {
  opacity: 1;
}

.nuxt-content h2 > a:focus,
.nuxt-content h3 > a:focus {
  outline: none;
}

/* adaptive dark theme */
@media (prefers-color-scheme: dark) {
  body {
    filter: invert(100%);
    background: #000;
  }

  img,
  canvas,
  iframe {
    filter: invert(100%);
  }

  /* make code block background lighter */
  pre[class*='language-'],
  code {
    background: #ddd !important;
  }

  .white-bg img {
    background-color: #fff;
  }
}

iframe {
  border: 0;
  min-height: 50vh;
}

.link-plain {
  text-decoration: none;
  color: inherit !important;
}

/* margins */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
